/*-- scss:defaults --*/


/*-- scss:rules --*/

body {
  font-family: sans-serif;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

#refs {
  text-align: justify;
}

#refs > * {
  margin: 10px 0;
}
